.ContactsList {
    display: inline-block;
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
  }
  .ContactsList {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
  }

  .contactItem{
    margin: 20px 0;
  }
  
  .btn {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
  
    
  }

  .btn:hover{
    background-color: rgb(221, 152, 253);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }